
<!-- <div class="dfree-header" [editor]="dfreeHeaderConfig" [(ngModel)]="headerContent"></div>
<div class="dfree-body" [editor]="dfreeBodyConfig" [(ngModel)]="bodyContent"></div> -->

<editor
  apiKey="jmira8vhg4559rcsr421bnqkdtcbwqfujx4yl5a1ei7zioi2"
  [disabled]="false"
  id="wedw"
  [init]="{ 
    menubar: false,  
    inline: true,
    toolbar: false,
    plugins: ['quickbars'],
    quickbars_insert_toolbar: 'undo redo ',
    quickbars_selection_toolbar: 'italic underline styles bold italic alignleft aligncenter alignright  code',
    powerpaste_word_import: 'clean',
    powerpaste_html_import: 'clean',
  }"
  initialValue=''
  tagName="div"
  [(ngModel)]="headerContent"
  (onSelectionChange)="handleEventForheader()"
></editor>



<editor
  apiKey="jmira8vhg4559rcsr421bnqkdtcbwqfujx4yl5a1ei7zioi2"
  [disabled]="false"
  id="sdfvefs"
  [init]="{ 
     menubar: false,
    inline: true,
    plugins: [
      'autolink',
      'codesample',
      'link',
      'lists',
      'media',
      'powerpaste',
      'table',
      'image',
      'quickbars',
      'codesample',
      'help'
    ],
    toolbar: false,
    quickbars_insert_toolbar: 'quicktable image media codesample',
    quickbars_selection_toolbar: 'bold italic underline | formatselect | blockquote quicklink',
    contextmenu: 'undo redo | inserttable | cell row column deletetable | help',
    powerpaste_word_import: 'clean',
    powerpaste_html_import: 'clean',
  }"
  initialValue=''
  tagName="div"
  [(ngModel)]="bodyContent"
  (onSelectionChange)="handleEventForBody()"
></editor>